.git
.git-backups
.github
.vscode
.idea

app
server

node_modules
**/node_modules
**/.yarn/cache
**/.yarn/unplugged
**/.yarn/build-state.yml
**/.yarn/install-state.gz

dist
build
coverage
*.tsbuildinfo
.eslintcache

.env
.env.*
!.env.sample
