.git
.github
.vscode
.idea

node_modules
**/node_modules
packages/*/dist
packages/desktop/app/dist
dist
build
coverage
*.tsbuildinfo
.eslintcache

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.env
.env.*
!.env.sample
